* {margin:5px;
padding:5px;}

body{background-image: url(https://plchldr.co/i/336x280?&bg=ffff80&text=);}


h1 {
  text-align: center;
  background-color: #4FADE3;
  color: #FFD850;
  text-shadow: 2px 2px #8A849E
}

img {
height: 205px;
width: 200px;
border: solid;
box-shadow: 4px 6px #4FADE3;
}

section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

img.bigpic1 {
height: 205px;
width: 200px;
}
a{
  text-align:center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
